[submodule "dune-common"]
	path = dune-common
	url = http://git.dune-project.org/repositories/dune-common
        ignore = dirty
[submodule "dune-grid"]
	path = dune-grid
	url = http://git.dune-project.org/repositories/dune-grid
        ignore = dirty
[submodule "dune-geometry"]
	path = dune-geometry
	url = http://git.dune-project.org/repositories/dune-geometry
        ignore = untracked
[submodule "dune-fem"]
	path = dune-fem
	url = http://users.dune-project.org/repositories/projects/dune-fem-unofficial.git
        ignore = untracked
[submodule "dune-pdelab"]
	path = dune-pdelab
	url = http://users.dune-project.org/repositories/projects/dune-pdelab-unofficial.git
        ignore = untracked
[submodule "dune-stuff"]
	path = dune-stuff
	url = https://users.dune-project.org/repositories/projects/dune-stuff.git
[submodule "dune-grid-multiscale"]
	path = dune-grid-multiscale
	url = http://users.dune-project.org/repositories/projects/dune-grid-multiscale.git
[submodule "dune-localfunctions"]
	path = dune-localfunctions
	url = http://git.dune-project.org/repositories/dune-localfunctions
        ignore = untracked
[submodule "dune-istl"]
	path = dune-istl
	url = http://git.dune-project.org/repositories/dune-istl
        ignore = untracked
[submodule "local/bin"]
	path = local/bin
	url = http://users.dune-project.org/repositories/projects/dune-demos-bin.git
[submodule "dune-gdt"]
	path = dune-gdt
	url = http://users.dune-project.org/repositories/projects/dune-gdt.git
[submodule "dune-hdd"]
	path = dune-hdd
	url = http://users.dune-project.org/repositories/projects/dune-hdd.git
[submodule "dune-pymor"]
	path = dune-pymor
	url = https://github.com/pymor/dune-pymor.git
[submodule "pymor"]
	path = pymor
	url = https://github.com/pymor/pymor.git
[submodule "dune-typetree"]
	path = dune-typetree
	url = http://git.dune-project.org/repositories/dune-typetree
        ignore = untracked
[submodule "configs"]
	path = config.opts
	url = http://users.dune-project.org/repositories/projects/dune-config-opts.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/wwu-numerik/scripts.git
