# This file is part of the dune-hdd-demos project:
#   http://users.dune-project.org/projects/dune-hdd-demos
# Copyright holders: Felix Albrecht
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)

# available constants:
# CC, CXX, F77, CXXFLAGS, BASEDIR, SRCDIR
# all commands are executed in $BASEDIR/demos
# do not use ',' in any of the 'build' commands!

[example_linearelliptic_cg]
build='. $BASEDIR/virtualenv/bin/activate && cmake ../dune-hdd',
      'make example_linearelliptic_cg'
msg='. $BASEDIR/virtualenv/bin/activate && cd $BASEDIR/demos/examples/linearelliptic && ./example_linearelliptic_cg'

[example_linearelliptic_thermalblock]
build='. $BASEDIR/virtualenv/bin/activate && cmake ../dune-hdd',
      'make example_linearelliptic_thermalblock'
msg='. $BASEDIR/virtualenv/bin/activate && cd $BASEDIR/demos/examples/linearelliptic && ./example_linearelliptic_thermalblocthermalblock

[example_linearelliptic_cg_python_bindings]
build='. $BASEDIR/virtualenv/bin/activate && cmake ../dune-hdd',
      'make example_linearelliptic_cg linearellipticexamplecg',
      'cd $BASEDIR/demos/examples/linearelliptic && ln -s $BASEDIR/dune-hdd/examples/linearelliptic/cg_main.py .'
msg='Call the following to generate the config file: . $BASEDIR/virtualenv/bin/activate && cd $BASEDIR/demos/examples/linearelliptic && ./example_linearelliptic_cg',
    'Then execute: ipython2 -- cg_main.py linearelliptic.cg.cfg'

[example_linearelliptic_thermalblock_pymor]
build='. $BASEDIR/virtualenv/bin/activate && cmake ../dune-hdd',
      'make example_linearelliptic_thermalblock linearellipticexamplethermalblock',
      'cd $BASEDIR/demos/examples/linearelliptic && ln -s $BASEDIR/dune-hdd/examples/linearelliptic/thermalblock_main.py .'
msg='Call the following to generate the config file: . $BASEDIR/virtualenv/bin/activate && cd $BASEDIR/demos/examples/linearelliptic && ./example_linearelliptic_thermalblock',
    'Then execute: ipython2 -- thermalblock_main.py linearelliptic.thermalblock.cfg'
